<body>
  <div class="wrapper">
    <div class="auth-wrapper">
      <div class="block">
        <h2 class="mt-1" *ngIf="registerDisplay" style="text-align: center">
          Регистрация
        </h2>
        <h2 class="mt-1" *ngIf="loginDisplay" style="text-align: center">
          Авторизация
        </h2>
        <form
          [formGroup]="registerForm"
          *ngIf="registerDisplay"
          (ngSubmit)="registerUser()"
          class="flex flex-col mt-1"
        >
          <label for="name">Имя</label>
          <div class="input">
            <input
              id="name"
              formControlName="name"
              type="name"
              placeholder="Имя"
            />
          </div>

          <label for="surename">Фамилия</label>
          <div class="input">
            <input
              id="surename"
              formControlName="surename"
              type="surename"
              placeholder="Фамилия"
            />
          </div>

          <label for="login">Логин</label>
          <div class="input">
            <input
              id="login"
              formControlName="login"
              type="text"
              placeholder="Логин"
            />
          </div>

          <label for="password">Пароль</label>
          <div class="input">
            <input
              id="password"
              formControlName="password"
              type="password"
              placeholder="Пароль"
            />
          </div>

          <button type="submit" [disabled]="!registerForm.valid" class="mt-1">
            Зарегистрироваться
          </button>
          <div class="line"></div>
        </form>

        <form
          [formGroup]="loginForm"
          *ngIf="loginDisplay"
          (ngSubmit)="loginUser()"
          class="flex flex-col mt-1"
        >
          <label for="login">Логин</label>
          <div class="input">
            <input
              id="login"
              formControlName="login"
              type="text"
              placeholder="Логин"
            />
          </div>

          <label for="password">Пароль</label>
          <div class="input">
            <input
              id="password"
              formControlName="password"
              type="password"
              placeholder="Пароль"
            />
          </div>

          <button type="submit" [disabled]="!loginForm.valid" class="mt-1">
            Войти
          </button>
          <div class="line"></div>
        </form>
        <div class="flex flex-col mt-1">
          <button (click)="showLogin()">Авторизация</button>
          <button style="margin-top: 10px;" (click)="showRegistr()">Регистрация</button>
        </div>
      </div>
    </div>
  </div>
</body>
