<app-not-found></app-not-found>
<div class="col-item">
  <div style="height: 800px; background-color:#d7d7d7;">
    <br>
    <div class="form-container">
      <div class="form-group">
        <dx-select-box 
          [items]="priorities" 
          placeholder="Выберите значение ...." 
          [(value)]="task.priority" 
          [showClearButton]="true">
        </dx-select-box>
        <div *ngIf="!task.priority" class="error-message">
          Поле не может быть пустым
        </div>
        <label class="required">Приоритет *</label>
      </div>
    
      <div class="form-item">
        <dx-text-box 
          placeholder="Введите значение ...." 
          [(value)]="task.task" 
          [isValid]="task.task && task.task.trim().length > 0 ? true : false"
          [validationMessageMode]="'always'"
          [class.invalid]="!task.task || !task.task.trim().length">
        </dx-text-box>
        <div *ngIf="!task.task || !task.task.trim().length" class="error-message">
          Поле не может быть пустым
        </div>
        <label class="required">Задача *</label>
      </div>
      
    
      <div class="form-group-row">
        <div class="form-group">
          <dx-date-box
            type="date"
            [(value)]="task.startDate"
            [displayFormat]="'dd.MM.yyyy'"
            [inputAttr]="{ 'aria-label': 'Date' }"
          >
          </dx-date-box>
          <div *ngIf="task.startDate && task.endDate && task.startDate > task.endDate" class="error-message">            
            Дата начала не может быть позже даты завершения
          </div>
          <div *ngIf="!task.startDate">
            <label class="error-message">Дата начала должна быть заполнена*</label>
          </div>
          <label class="required">Дата начала *</label>
        </div>
    
        <div class="form-group">
          <dx-date-box
            type="date"
            [(value)]="task.endDate"
            [displayFormat]="'dd.MM.yyyy'"
            [inputAttr]="{ 'aria-label': 'Date' }"
          >
          </dx-date-box>
          <div *ngIf="task.startDate && task.endDate && task.startDate > task.endDate" class="error-message">            
            Дата начала не может быть позже даты завершения
          </div>
          <div *ngIf="!task.endDate">
            <label class="error-message">Дата завершения должна быть заполнена*</label>
          </div>
          <label class="required">Дата завершения *</label>
        </div>
      </div>
    
      <div class="form-group">
        <dx-select-box 
          [items]="statuses" 
          placeholder="Выберите значение ...." 
          [(value)]="task.status" 
          [showClearButton]="true">
        </dx-select-box>
        <div *ngIf="!task.status" class="error-message">
          Поле не может быть пустым
        </div>
        <label class="required">Статус *</label>
      </div>
    
      <div class="form-group">
        <h3>Участники *</h3>
        <div class="row-item" style="justify-content: flex-end;">
          <dx-button
            stylingMode="outlined"
            text="ДОБАВИТЬ УЧАСТНИКА"
            type="normal"
            [width]="200"
            (onClick)="openPopup()"
            >
          </dx-button>
        </div>
        <br>
        <dx-data-grid 
          [(dataSource)]="task.participants" 
          [showBorders]="true" 
          [paging]="{ pageSize: 5 }"
          [allowColumnReordering]="true">
      
        <dxo-editing 
          mode="cell"  
          [allowDeleting]="true">
        </dxo-editing>
      
        <dxi-column 
          dataField="name" 
          caption="Список участников события">
        </dxi-column>
      </dx-data-grid>
        <dx-popup 
          [(visible)]="isPopupVisible"
          [width]="400"
          [height]="500"
          [showTitle]="true"
          title="Добавление участника"
          [dragEnabled]="true"
          [closeOnOutsideClick]="true">  
        <div>
          <dx-button
            text="СОЗДАТЬ УЧАСТНИКА"
            [width]="400"
            (onClick)="openCreateParticipantPopup()"
            >
          </dx-button>
          <dx-text-box
            placeholder="Поиск по участникам..."
            [(value)]="searchTerm"
            (onValueChanged)="filterParticipants($event)">
          </dx-text-box>
          <div *ngFor="let participant of filteredParticipants" class="participant-item">
            
            <dx-button (onClick)="addParticipant(participant)">
              id: {{ participant.id }} Имя: {{ participant.name }}
            </dx-button>
            <div>-------</div>
            <dx-button
              stylingMode="text"
              icon="trash"
              (onClick)="deleteParticipant(participant.id)">
            </dx-button>                    
          </div>
        </div>
      </dx-popup>
      <dx-popup 
        [(visible)]="isCreateParticipantPopupVisible"
        [width]="400"
        [height]="300"
        [showTitle]="true"
        title="Создание участника"
        [dragEnabled]="true"
        [closeOnOutsideClick]="true">

        <div>
          <label>Имя участника:</label>
          <input 
            type="text" 
            class="form-control" 
            placeholder="Введите имя" 
            [(ngModel)]="newParticipantName" 
          />
          <button (click)="createParticipant()" class="btn btn-success mt-2">
            Создать
          </button>
          <button (click)="isCreateParticipantPopupVisible = false; openPopup()" class="btn btn-secondary mt-2">
            Отмена
          </button>
        </div>
      </dx-popup>
      </div>
    </div>    
  </div>

  <div class="row-item" style="justify-content: flex-end; height: 30px;background-color: white;">
    <dx-button
            stylingMode="outlined"
            text="ОТМЕНИТЬ"
            type="normal"
            [width]="120"
            (onClick)="cancel()"
          >
    </dx-button>
    <dx-button
          stylingMode="contained"
          text="СОХРАНИТЬ"
          type="default"
          [width]="120"
          (onClick)="save()"
        >
    </dx-button>
  </div>

</div>